/* #region common */
*
{padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Kanit', sans-serif;
}

/* #endregion common */

/* #region utility */

header{
    background-color: white;
}

.debug
{
    background-color: rgb(150, 155, 160);
}
.debug .container{
    width: 500px;
    height: 500px;
    background-color: white;
}

/* #end utility region */
.logo{
    padding: 10px;
    vertical-align: middle;
}
.title{
    display: inline-block;
    vertical-align: middle;    
}
.container{
    margin: auto;
    margin-top: 50px;
}
/* .key{
    display: inline-block;
    border-radius: 5px;
    text-align: center;
} */

.add{
    border-bottom: 1px solid grey;
}
.add-task{
    display: inline-block;
    width: 75px;
    border: 1px solid white;  
    border-radius: 5px;
    background-color: lightskyblue;
    color: white;
    text-align: center;
    margin: 10px 2px 3px 30px;
}
.add-section{
    display: inline-block;
    width: 100px;
    border: 1px solid grey;
    border-radius: 5px;
    border-color: grey;
    color: grey;
    background-color: white;
    text-align: center;
}
.new-task, .today{
    padding:30px;
}
li{
    list-style-type: none;
}
.row list{
    display: inline-block;
}
.check{
    display:inline-block;
    width: 20px;
    border: 1px solid lightgreen;
    border-radius: 50%;
    color: lightgreen;
    text-align: center;
}
.text{
    display: inline-block;
}
.link {
    display: inline-block;
    width: 80px;
    text-align: center;
    color: white;
    border-radius: 15px;
}
a{
    text-decoration: none;
    color: white;
}
.editorial{
    background-color: rgb(62, 137, 235);
}
.goal{
    background-color: blueviolet;
}
.recruiting{
    background-color: rgb(56, 143, 89);
}
.mobile{
    background-color: orange;
}
.uncheck{
    display:inline-block;
    width: 20px;
    border: 1px solid red;
    border-radius: 50%;
    color: red;
    text-align: center;
}