/* #region common */
*
{padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Kanit', sans-serif;
}

/* #endregion common */

/* #region utility */
.debug header{
    background-color: red;
}
.debug
{
    background-color: rgb(150, 155, 160);
}
.debug .container{
    width: 500px;
    height: 500px;
    background-color: rgb(60, 160, 160);
}

/* #end utility region */
.logo{
    padding: 10px;
}
.title{
    display: inline;    
}
.container{
    margin: auto;
    margin-top: 50px;
}